@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Lilita;
    src: url(../public/fonts/Lilita_One/LilitaOne-Regular.ttf);
  }
  @font-face {
    font-family: Roboto;
    src: url(../public/fonts/Roboto/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: RobotoMedium;
    src: url(../public/fonts/Roboto/Roboto-Medium.ttf);
  }
  @font-face {
    font-family: RobotoBold;
    src: url(../public/fonts/Roboto/Roboto-Bold.ttf);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.search {
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset -6px 6px 28px #c9c9c9, inset 6px -6px 28px #ffffff;
}

/* .part {
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 20px 20px 60px #bebebe, inset -20px -20px 60px #ffffff;
} */
